<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Acme|Lato" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Veggieburgers</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    	<script src="/assets/js/jquery.lettering.js"></script>
 		<script src="http://use.edgefonts.net/squada-one.js"></script>
		<script src="/assets/js/app.js"></script>
		
	</head>
	<body>
	
<div id = "background" class="jumbotron">
  <p class="title">Veggie Burgers</p>

</div>	
  <div class = "container">
		{{{ body }}}
		</div>
	</body>
</html>
