

<div class = "tables" id = "eaten" >
  <h4>Veggieburgers Deveoured</h4>
{{#each burgers}} {{#if ate}}
 {{> veggieburgers/veggieburger-block ate=true}}
{{/if}} 
  {{/each}}
</div>   
  
<div class = "tables" id = "noteaten">
<h4>Veggieburgers to try</h4>

  {{#each burgers}}
    {{#unless ate}}
      {{> veggieburgers/veggieburger-block ate=false}}
    {{/unless}}
  {{/each}}
</div>

<div class = "tables">
<h4>Add a Veggieburger!</h4>
<form class="create-form">

  <div class="form-group">
    <label for="vb">Veggieburger Name:</label>
    <input type="text" id="vb" name="name">
  </div>

  <div class="form-group">
    <label for="ate">Ate the burger?</label><br>
    <input type="radio" name="ate" value="1" > Ate it!<br>
    <input type="radio" name="ate" value="0"> Has not been eaten.
  </div>

  <button type="submit">Add Veggieburger</button>
</form>
</div>