.jumbotron {
 
    margin-bottom: 0px;
    background-image: url('burgjum.png');
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;

}

.title{
    margin:auto;
    font-family: 'Acme', sans-serif;
    font-size: 70px; 
    width: 300px; 
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-transform: uppercase;
    line-height: .55em; 

}

span {
    position: relative;
}

.char1 {
 color: green; 
 z-index: 5;
 text-shadow: 0.05em 0.05em 0.2em rgba(10,10,10,0.8); 

}


.char2 {
    color: green; 
    text-shadow: 0.05em 0.05em 0.2em rgba(10,10,10,0.8); 
    z-index: 3;
}

.char3 {
    color: green; 
    z-index: 2;
    text-shadow: 0.05em 0.05em 0.2em rgba(10,10,10,0.8); 
}

.char4 {
    color: green; 
    z-index: 5;
    text-shadow: 0.05em 0.5em 0.2em rgba(10,10,10,0.8); 
}

.char5 {
    color: green; 
    z-index: 6;
    text-shadow: 0.05em 0.05em 0.2em rgba(10,10,10,0.8); 
}

.char6 {
    color: green;
    z-index: 0;
    text-shadow: 0.05em 0.05em 0.2em rgba(10,10,10,0.8);  
}

.char7 {
   z-index: 1;
   text-shadow: 0.05em 0.05em 0.2em rgba(10,10,10,0.8);  

}
.char8 {
    z-index: 1;

}
.char9 {
    z-index: 4;
  
}
.char10 {
    z-index: 1;
}
.char11 {
    z-index: 4;
}
.char12 {
    z-index: 1;
}
.char13 {
    z-index: 1;
}

button {
    border-bottom-color: black;
    border-radius: 85%;
}

.tables {
    border: solid 10px; 
    margin: 10px; 
    padding: 10px; 
    font-family: 'Lato', sans-serif;
    background: -moz-linear-gradient(top,  yellow 0%, white 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,yellow), color-stop(100%,white));
	background: -webkit-linear-gradient(top,  yellow 0%,white 100%);
	background: -o-linear-gradient(top,  yellow 0%,white 100%);
	background: -ms-linear-gradient(top,  yellow 0%,white 100%);
	background: linear-gradient(to bottom,  yellow 0%,white 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='yellow', endColorstr='white',GradientType=0 );
}
